# resources/schemas.yml.tmpl
resources:
  schemas:
    {{- range .schemas }}
    {{ .name }}:
      name: {{ .name }}
      catalog: {{ $.catalog_name }}
      {{- if .comment }}
      comment: "{{ .comment }}"
      {{- end }}
      {{- if .owner }}
      properties:
        owner: "{{ .owner }}"
      {{- end }}
      {{- if .grants }}
      grants:
        {{- range .grants }}
        - privilege: {{ .privilege }}
          principal: {{ .principal }}
        {{- end }}
      {{- end }}
    {{- end }}
